:root {
  --cta-text-color: hsl(356, 100%, 66%);
  --cta-hover-background-color: hsl(355, 100%, 74%);
  --headings-color: hsl(208, 49%, 24%);
  --text-color: hsl(0, 0%, 100%);
  --footer-text-color: hsl(240, 2%, 79%);
  --body-copy-color: hsl(207, 13%, 34%);
  --footer-background-color: hsl(240, 10%, 16%);
  --links-header: hsla(0, 0%, 100%, 0.7);

// Gradients

  --intro-gradient: linear-gradient(150deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --body-gradient: linear-gradient(150deg, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
}