@use '../util/' as *;

.btn {
  font-size: rem(16);
  width: 140px;
  padding: 15px;
  font-family: var(--font-body);
  border-radius: 50px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;

  &--primary {
    border: none;
    background: white;
    color: var(--cta-text-color);

    &:hover {
      background: var(--cta-hover-background-color);
      color: white;
    }
  }

  &--secondary {
    background: none;
    border: 1px solid white;
    color: var(--text-color);

    &:hover {
      background: white;
      color: var(--cta-text-color);
    }
  }

  &--login {
    width: fit-content;
    background: none;
    border: none;
    color: var(--links-header);
  }

  &--menu {
    background: var(--intro-gradient);
    border: none;
    color: white;
  }
}